<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <title>Help Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">


<style>
    .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;  
}
</style>
<!-- //web font -->
</head>
<body>
<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Helpline Numbers</h1>
		<div class="main-agileinfo" >
			<div class="agileits-top" >
				<form action="/homeuser/{{data60.uname}}" method="POST">
					  {% csrf_token %}
                      <div class="row" id="loginForm">
                        <table border="0">
                          <tr>
                            <td>NATIONAL EMERGENCY NUMBER : </td>
                            <td style="text-align: center;"><p>112</p></td>
                         </tr>
                         <tr>
                            <td>COVID 19 HELPLINE NUMBER : </td>
                            <td style="text-align: center;"><p>1075</p></td>
                         </tr>
                         <tr>
                            <td>POLICE NUMBER : </td>
                            <td style="text-align: center;"><p>100</p></td>
                         </tr>
                         <tr>
                            <td>FIRE NUMBER : </td>
                            <td style="text-align: center;"><p>101</p></td>
                         </tr>
                         <tr>
                            <td>AMBULANCE NUMBER : </td>
                            <td style="text-align: center;"><p>102</p></td>
                         </tr>
                         <tr>
                            <td>Disaster Management Services : </td>
                            <td style="text-align: center;"><p>108</p></td>
                         </tr>
                         <tr>
                            <td>Women Helpline NUMBER : </td>
                            <td style="text-align: center;"><p>1091</p></td>
                         </tr>
                         
                         <tr>
                            <td>Senior Citizen Helpline : </td>
                            <td style="text-align: center;"><p>1091</p></td>
                         </tr>
                         <tr>
                            <td>NDRF HELPLINE NUMBER : </td>
                            <td style="text-align: center;"><p>9711077372</p></td>
                         </tr>
                         <tr>
                            <td>LPG Leak Helpline NUMBER : </td>
                            <td style="text-align: center;"><p>1906</p></td>
                         </tr>
                       </table>
                    </div>
					<div class="wthree-text">
						
					</div>
					<input type="submit" value="Home">
				</form>

			</div>
		</div>
		<!-- copyright -->
		<!-- //copyright -->
		<ol class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>
	<!-- //main -->
</body>

</html>