<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Socmansys Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\css\font-awesome.min.css" rel="stylesheet">
  <link href="static\css\boxicons.min.css" rel="stylesheet">
  <link href="static\css\owl.carousel.min.css" rel="stylesheet">
  <link href="static\css\venobox.css" rel="stylesheet">
  <link href="static\css\aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static\css\style2.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="">Socmansys</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="\">Home</a></li>
          <li><a href="#services">Features</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="login">Login </a></li>
          <li><a href="sign_up">Register</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <img src="static\images\log.jpg" width="100%">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to Socmansys</h1>
      <h2>Simplify everyday chores and ensure better security for your homes and communities.</h2>
      <a href="#services" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Features</h3>
          <p class="section-description">Explore Socmansys to experience other benefits that you get out of the box!</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-desktop"></i></div>
              <h4 class="title">Visitor Management</h4>
              <p class="description">Get plethora of insights: visitors/day, visitors inside the community etc.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title">Pay Maintenance</h4>
              <p class="description">On Time Billing with Automated Invoicing. Reduce Defaulters Rate.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-paper-plane"></i></div>
              <h4 class="title">Communications</h4>
              <p class="description">Comunicate With Your Neighbour and Guard for Early Guest Entry </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title">Organize Event</h4>
              <p class="description">Organize New Events. Make any Occasion Memorable.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-road"></i></div>
              <h4 class="title">Complaint Management</h4>
              <p class="description">Get the ability to track complaints, suggestions & requests.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title">Admin Authority</h4>
              <p class="description">Keep Eye on Each and Every Activities of Your Society.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">You can do what I cannot do; I can do what you cannot do. Together we can make magic.</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="{% static 'images/pic.JPG' %}" alt=""></div>
              <h4>Rushi Javiya</h4>
              <div class="social">
                <a href="https://www.instagram.com/rushi_javiya/?igshid=16fh7sk8jfbuz"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rushi-javiya-6286a91b5/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="{% static 'images/devang.jpeg' %}" alt=""></div>
              <h4>Devang Delvadiya</h4>
              <div class="social">
                <a href="https://www.instagram.com/devang_delvadiya/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/devang-delvadiya-b051651b1/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="{% static 'images/pic-2.jpg' %}" alt=""></div>
              <h4>Manthan Ghasadiya</h4>
              <div class="social">
                <a href="https://www.instagram.com/g_m_j_27_03/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manthan-ghasadiya-6322bb1a0/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team-4.jpg" alt=""></div>
              <h4>Yash Bhimani</h4>
              <div class="social">
                <a href="https://instagram.com/_yash_b_10/"><i class="fa fa-instagram"></i></a>
                <a href="https://techfornerdz.com/how-to-block-ads-on-youtube/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact Us</h3>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe  src="https://maps.google.com/maps?q=IIIT%20Vadodara,%20gandhinagar&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>IIITV Sector-28<br>Gandhinagar, Gujarat</p>
              </div>

              
            </div>

            
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2021 Socmansys All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
      Design and Developed with ❤ by Dbms Worriers
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static\js\jquery.min.js"></script>
  <script src="static\js\bootstrap.bundle.min.js"></script>
  <script src="static\js\jquery.easing.min.js"></script>
  <script src="static\js\validate.js"></script>
  <script src="static\js\counterup.min.js"></script>
  <script src="static\js\jquery.waypoints.min.js"></script>
  <script src="static\js\isotope.pkgd.min.js"></script>
  <script src="static\js\superfish.min.js"></script>
  <script src="static\js\hoverIntent.js"></script>
  <script src="static\js\owl.carousel.min.js"></script>
  <script src="static\js\venobox.min.js"></script>
  <script src="static\js\aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static\js\main.js"></script>

</body>

</html>