{% extends 'chat.html' %}
{% block form %}
<form id="chat-box"  class="form-group" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light" style="margin-top:25px"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
{% endblock %}
{% block messages %}

    {% for message in messages %}
    {% if message.sender == users.sr %}
<div class="card-panel right" style="width: 75%; position: relative">
    <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title">You</div>
    {{ message }}
</div>
    {% else %}
<div class="card-panel left blue lighten-5" style="width: 75%; position: relative">
    <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title">{{ message.sender }}</div>
    {{ message }}
</div>
    {% endif %}
    {% endfor %}
<script>
$(function () {
    
    
    $('#user{{ sr }}').addClass('active');
    console.log("hiii");
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,10000)
})
</script>

{% endblock %}
