<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<title>Resident Data </title>
</head>


<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        <h1>Resident Data of Socmansys</h1>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                   
                   <thead>
                    <th>User Name</th>                   
                     <th>First Name</th>
                     <th>Middle Name</th>
                     <th>Last Name</th>
                     <th>Mobile Number</th>
                     <th>House</th>
                     <th>Home/Rent</th>
                     
                   </thead>
    <tbody>

        
        {% for d in data4 %}
        <tr>

            <td>{{d.uname}}</td>
            <td>{{d.fname}}</td>
            <td>{{d.mname}}</td>
            <td>{{d.lname}}</td>
            <td>{{d.mobile}}</td>
            <td>{{d.house}}</td>
            <td>{{d.Option}}</td>
        
            </tr>
        {% endfor  %}
    
    
 
    
    

    
   
    
   
    
    </tbody>
        
</table>

<a class="btn btn-primary" href="homeadmin" role="button">Home</a>

                
            </div>
            
        </div>
	</div>
</div>

